.gitignore
pom.xml
*jar
/lib/
/classes/
/targets/
.lein-deps-sum
.*.swp
.lein-repl-history
.gitignore
.nrepl-port
target
notes/AbramsMeasuredModeledPublished.pdf
notes/HolyoakThagard1989AnalogicalMapping.pdf
